:root{
	--primary-color: red;
	--link-color: #0079ff;
	--success-color:#25ff3a;
  --border-color:#888383;
  --coral-pink:#ff7070;
}
body{
	//required for react-motion-drawer
	overflow: hidden;
	margin: 0;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
	[role=button]{
		cursor: pointer;
	}
	h1,h2,h3,h4,p{
		font-weight: 100;
	}
	button{
	    height: 40px;
	    text-align: center;
	    width: 100%;
	    background:  var(--success-color, deepskyblue);
	    color:black;
	    border:none;
	}
	form {
		margin: 10px auto;
		padding: 0;
		& >*{
			border:0;
		  border-bottom: 1px solid #bdbdbd;
			width: 100%;
			margin: 5px 0;
			height: 30px;
			text-align: center;
			background:none;
		}
	}
}
/* LAYOUTS */
.app{
	position: relative;
	display: inline-flex;
  flex-direction: row;
  width: 100%;
	.main{
		text-align: center;
    width: 90%;
  	margin: 0 auto;
  	padding-top: 30px;
  	height: 100%;
  	overflow: auto;
		max-height: 100vh;
	}

}
.datacoral-title {
	text-align: center;
	font-size: 40px;
	margin-top:80px;
	color:#fb4648;
}
.datacoral-interface{
	max-width: 610px;
	width:55%;
	display:block;
	margin: 40px auto;
	border-radius: 5px;
	border:1px solid var(--border-color);
	box-shadow: 1px 1px 1px 1px #d2caca;
	.innerContainer{
		display: inline-flex;
		border-radius: inherit;
		width:100%;
		&.detailsViewer{
			padding-top: 20px;
			background-color: #f0f0f0;
		}
	}
	.sideScroller {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    display: inline-flex;
    scroll-behavior:smooth;
		.scrollable {
	    height: 160px;
	    .columns{
		    flex-grow: 1;
		    min-width: 90px;
		    position: relative;
		    height: 100%;
		    display: inline-table;
		    text-align: center;
		    a{
		    	text-decoration: none;
		    	height: 100%;
		    	vertical-align: middle;
		    	display: table-cell;
		    	.thumbnail{
		    		box-shadow: 0px 4px 7px 0px #d2caca;
						width: 70px;
				    height: 60px;
				    background: white;
				    border: 1px solid var(--border-color);
				    border-radius: 2px;
				    align-items: center;
				    display: table;
				    margin: 0 10px;
			     	-webkit-transition: all 0.2s; /* Safari */
    				transition: all 0.2s;
    				color:initial;
    				a:hover, a:visited, a:link, a:active{
					    text-decoration: none;
						}
		    	}
		    }
		    &.selected{
		    	.thumbnail{
		    		background-color:var(--coral-pink);
		    		color:white;
		    		width: 75px;
				    height: 65px;
				    box-shadow: 0px 7px 9px 0px #d2caca;
		    	}
		    }  
			}
		}
	}
	.scrollableDown{
		color: cornflowerblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
   	height: 450px;
    border-radius: inherit;
		scroll-behavior:smooth;
    .item{
	    width: 94%;
	    height: 134px;
	    margin: 8px auto;
	    box-shadow: 0px 2px 8px 0px #d2caca;
	    display: table;
    }
	}	
	.alignMid{
		height: 100%;
	  display: table-cell;
	  vertical-align: middle;
	}
}

::-webkit-scrollbar {
	width: 0px;
  background: #ffe9e9;
  height: 20px;
  border:1px solid #afafaf;
}
::-webkit-scrollbar-thumb {
	border: 1px solid grey;
	background: var(--coral-pink);
	height: 5px;
}

.npUl{
	.blip{
		display: inline-block;
	    margin: 5px;
	    border-radius: 8px;
	    border: solid 1px #bfbfbf;
	    background: white;
	    font-weight: 400;
	    outline:none;
	    font-size:14px;
	    p {
		    margin: 8px;
	    }
	    &:hover, &.selected{
	    	// specific for domain app
    		color: #0079ff;
    		border-color:#1DA1F2;
    		// regular
	    	// border-color:#1DA1F2;
	    	// color:#1DA1F2;
	    }
	}	
}

/* Responsive */
.card{
    border-radius: 5px;
    background: white;
    padding: 10px;
    border: 1px solid #d4d4d4;
	  overflow: hidden;
	  text-overflow: ellipsis;
}

/* UI GLOBALS */
.subaction{
	font-size: 10px;
	color: var(--link-color, #1da1f2);
	padding:0 7px;
    &:hover{
    	text-decoration: underline;
    }
}
.hyperlink{
	margin-top: 30px;
    color: var(--link-color, #1da1f2);
    &:hover{
    	text-decoration: underline;
    }
}
.welcomeText {
	color:grey;
	font-weight: 100;
}


